@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{max-width: 1000px; margin: 0 auto;}

.menu{display: flex; list-style: none; margin: 0; padding: 0;} 
.menu li{margin-right: 20px;}
.menu li a{background-color: rgb(141, 197, 49); color: #fff; padding: 5px; display: inline-block; text-decoration: none;}

body {background-color: rgb(188, 212, 244);}
h1 {color: Red;}
.sub-heading {color: rgb(115, 36, 206); margin-left: 730px; margin-top: -220px;}
.table{margin-left: 730px; margin-top: -10px;}
.sub-heading-one {color: rgb(115, 36, 206);border: 3px solid red;}

h1, h2 {font-family: 'Raleway', sans-serif;}
body {font-family: 'Lato';}

.row{display: flex;}
.column{padding-left: 20px; padding-right: 20px;}
